.header-container{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    background-color: beige;
}
nav{
 margin-top: 25px;
}
nav> a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}